if SHIELD_VOID34_CORE

config ZMK_KEYBOARD_NAME
    default "V01D C0R3"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_VOID34_LEFT || SHIELD_VOID34_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif