/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/ext_power.h>

#define _ &kp
#define ___ &none
#define ______ &trans

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
_ Q  _ W  _ E  _ R  _ T  _ Q  _ W  _ E  _ R  _ T  _ Q  _ W  _ E  _ R
_ A  _ S  _ D  _ F  _ G  _ A  _ S  _ D  _ F  _ G  _ A  _ S  _ D  _ F
_ Z  _ X  _ C  _ V  _ B  _ Z  _ X  _ C  _ V  _ B  _ Z  _ X  _ C  _ V
_ N1 _ N2 _ N3 _ N4 _ N5 _ N1 _ N2 _ N3 _ N4 _ N5 _ N1 _ N2 _ N3 _ N4
                        >;
                };
        };
};
